
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), url('https://images.unsplash.com/photo-1509669803555-fd5edd8d5a41?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=453ba52ad7b512705656a61f78bd11ad&auto=format&fit=crop&w=2550&q=80');">
  <div class="banner-content">
    <h1>Cocktails</h1>
    <p>Delicious Cocktails</p>
    <a href="#create" class="btn btn-primary btn-lg">Start Mixin'</a>
  </div>
</div>
<br>
<div class="text-center">
  <%= link_to "+ create a new cocktail", new_cocktail_path, class: 'btn btn-success', id: 'create' %>
</div>

<div class="container cocktail-container">
  <div class="row-cocktail">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4 cocktail-card">

      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cocktail.photo %>);">
      <div class="card-description">
        <h2> <%= cocktail.name %></h2>
      </div>
      <%= link_to "", cocktail_path(cocktail), class: 'card-link' %>
      </div>
    </div>
<% end %>
  </div>
</div>



